<?xml version="1.0"?>
<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find rotf_control)/maps/maze_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz"/>
  
  <!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_odom_broadcaster" args="0 0 0.1 0 0 0 odom base_link 100"/>

  
  <!-- Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="diff_bot/laser/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="update_min_d" value="0.5"/>
    <param name="update_min_a" value="1.0"/>
    <param name="tf_broadcast" value="False"/>
  </node>

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find rotf_control)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rotf_control)/config/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rotf_control)/config/costmap_local.yaml" command="load" />
    <rosparam file="$(find rotf_control)/config/costmap_global.yaml" command="load" />
    <rosparam file="$(find rotf_control)/config/planner.yaml" command="load" />
    
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="scan" to="diff_bot/laser/scan"/>
    <!-- <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/> -->

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />
  </node>


</launch>